<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'plugins/images/favicon.png' %}">
    <title>StaffHawk | BDE</title>
    <!-- Bootstrap Core CSS -->


    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css' %}"
          rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-switch/bootstrap-switch.min.css' %}" rel="stylesheet">
    <!-- Footable CSS -->
    <link href="{% static 'plugins/bower_components/footable/css/footable.core.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet"/>
    <!-- Menu CSS -->
    <link href="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{% static 'plugins/bower_components/sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/bower_components/custom-select/custom-select.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/bower_components/multiselect/css/multi-select.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/bower_components/toast-master/css/jquery.toast.css' %}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{% static 'plugins/bower_components/morrisjs/morris.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{% static 'css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
                                      data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part"><a class="logo" href="index.html"><b><img
                    src="{% static 'plugins/images/eliteadmin-logo.png' %}" alt="home"/></b><span class="hidden-xs">StaffHawk</span></a>
            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
                        class="icon-arrow-left-circle ti-menu"></i></a></li>

            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">


                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <b
                            class="hidden-xs">{{ request.session.name }}</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>


                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
                    <!-- /input-group -->
                </li>

                <li><a href="/bde/dashboard/" class="waves-effect active"><i class="linea-icon linea-basic fa-fw"
                                                                             data-icon="v"></i> <span class="hide-menu"> Dashboard <span
                        class="fa arrow"></span> </span></a>

                </li>
                <li><a href="javascript:void(0);" class="waves-effect"><i
                        class="linea-icon linea-basic fa-fw text-danger" data-icon="7"></i> <span
                        class="hide-menu text-danger"> Contracts <span class="fa arrow"></span> </span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/bde/add_application/">Add Application</a></li>
                        <li><a href="/bde/applied_jobs">Applied Jobs</a></li>
                        <li><a href="/bde/lead_generated_jobs">Lead</a></li>
                        <li><a href="/bde/sales_generated_jobs">Sales</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->
    <!-- Page Content -->
    <div id="page-wrapper">

        {% block content %}

        {% endblock %}

        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; All rights reserved to StaffHawk - IBL INFOTECH</footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->


<script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/tether.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js' %}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{% static 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js' %}"></script>
<!--slimscroll JavaScript -->

<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Counter js -->
<script src="{% static 'plugins/bower_components/waypoints/lib/jquery.waypoints.js' %}"></script>
<script src="{% static 'plugins/bower_components/counterup/jquery.counterup.min.js' %}"></script>
<!--Morris JavaScript -->
<script src="{% static 'plugins/bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'plugins/bower_components/morrisjs/morris.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>

<script src="{% static 'js/dashboard1.js' %}"></script>
<!-- Sparkline chart JavaScript -->
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js' %}"></script>
<script src="{% static 'plugins/bower_components/toast-master/js/jquery.toast.js' %}"></script>

<!-- Footable -->
<script src=" {% static 'plugins/bower_components/footable/js/footable.all.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"
        type="text/javascript"></script>
<!--FooTable init-->
<script src="{% static 'js/footable-init.js' %}"></script>

<!-- bt-switch -->
<script src="{% static 'plugins/bower_components/bootstrap-switch/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'plugins/bower_components/custom-select/custom-select.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'plugins/bower_components/bootstrap-select/bootstrap-select.min.js' %}"
        type="text/javascript"></script>
<!-- Sweet-Alert  -->
<script src="{% static 'plugins/bower_components/sweetalert/sweetalert.min.js' %}"></script>

<!--Style Switcher -->

<script type="text/javascript"
        src="{% static 'plugins/bower_components/multiselect/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'plugins/bower_components/styleswitcher/jQuery.style.switcher.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();

        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function () {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function () {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function () {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });

        $(".appliedJobs").change(
            function () {
                if ($(this).is(':checked')) {
                    $.ajax({
                        url: '/bde/set_lead_generated/',
                        type: 'POST',
                        data: {
                            check: $(this).attr('name'), csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function () {
                            //$('#wrapper').html(data);
                            location.reload();
                            //alert('Marked as lead generated');
                        }
                    });
                }
                else {
                    $.ajax({
                        url: '/bde/remove_lead_generated/',
                        type: 'POST',
                        data: {
                            check: $(this).attr('name'), csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function () {
                            location.reload();
                            //alert('Removed from lead generated');
                        }
                    });
                }
            });
        $("#freelanceAccount").change(
            function () {
                //alert($(this).val());
                $.ajax({
                    url: '/bde/applied_jobs/',
                    type: 'POST',
                    data: {
                        check: $(this).val(), csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        //$('#wrapper').html(data);
                        location.reload();
                    }
                });
            });

        $(".leadJobs").change(
            function () {
                if ($(this).is(':checked')) {
                    window.location.replace("/bde/add_sales_info/?id=" + $(this).attr('name'));
                }
            });

        //Warning Message
        $('.bdeAppliedJobsDelete').click(function () {
            var proj_id = $(this).val();
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this Contract!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '/bde/delete_job/',
                    type: 'POST',
                    data: {
                        project_id: proj_id, csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        location.reload();
                    }
                });

            });
        });


    });
</script>

</body>

</html>
